header, #header
{
    background:#FFF !important;
    color:#666;
}

footer,  #footer
{
    background:#F4F4F4 !important;
    border-top:1px solid #ccc;
    color:#666;
}

footer a:link, a:visited, a:hover
{
    color:#666 !important;
}

#footer a:link, a:visited, a:hover
{
    color:#666 !important;
}

footer u li,  #footer u li
{
    border-color:#666;
}

.show-theme:hover {
    background: #666 !important;
}

menu, #menu
{
    background:#666 !important;
    color:#fff;
}

h1
{
    background:#FFF !important;
    border-bottom:2px solid #959595;
    color:#666 !important;
}

h2
{
    background:#FFF !important;
    color:#333 !important;
    /*font-size:14px;*/
}

h3
{
    background: #FFF;
    color: #666;
}

li[rel="category"]>a:hover
{
    color:#FFF !important;
}

li[rel="category"]>a:link
{
    color:#666 !important;
}

li[rel="dataflow"]
{
    background: #D1D1D1 !important;
    color:#666;
}

#split-toggler,
#panel_info_extra_toggler
{
    border-left: 2px solid #959595;
}

.close-left
{
    background: #959595;
    border-color:#959595;
}

.open-left
{
    background: #959595;
    border-color:#959595;
}

.ui-widget-header
{
    background: #666;
}

.div-container .div-heading
{
    background: #666;
}

.color-option.selected, .color-option:hover {
    background: #EAEAEA !important;
}

input[type=radio]:checked:before {
    color: #666 !important;
}

.tb_data .tr_data .th_fixed
{
    background: #666 !important;
}

.tb_data .tr_data .th_code
{
    background: #A2A9AE!important;
}

.tb_data .tr_data:nth-child(even)
{
  background: #D1D1D1 !important;
}

.tb_data, .tb_data tbody, .tb_data tr, .tb_data td, .tb_data th
{
    border-color: #A2A9AE;
}

.tb_layout p
{
    background: #ABBBDF;
    color: #272A30;
}

.tb_layout td
{
    background:#D1D1D1;
    border: 1px solid #ABBBDF;
}

.ul_layout_fxd .li_layout
{
    background: #FFF;
    border:1px solid #666;
    color: #666;
}

.ul_layout_cnt .li_layout
{
    background: #666;
    color: #FFF;
}

.data-option {
    background: #F7F7F7;
    color: #CC0000;
    border: 1px solid #dddddd;
}

.data-option:hover{
    background: #da0d14;
    color: #FFF !important;
}

select.data-option {
    background: #F7F7F7;
    border: 1px solid #dddddd !important;
    color: #CC0000;
}

select.data-option:hover{
    background: #da0d14;
    border: 1px solid #dddddd !important;
    color: #FFF !important;
}

.data-option-sel {
    background: #FFFFFF;
    color: #666;
    border-bottom-color:#666 !important;
}

.saveBox
{
    border-color:#272A30;
}

/*QUERIES*/
DIV.queryContainer DIV.query:nth-child(odd) {
    background: #EAEAEA;
}
DIV.queryContainer DIV.query:nth-child(even) {
    background: #ccc;
}
/*WEBSERVICES*/
DIV.ContWS:nth-child(odd) {
    background: #EAEAEA;
}
DIV.ContWS:nth-child(even) {
    background: #ccc;
}
/*PROFILES*/
DIV.queryContainer DIV.user:nth-child(odd) {
    background: #EAEAEA;
}
DIV.queryContainer DIV.user:nth-child(even) {
    background: #ccc;
}
/*SUPERADMIN*/
.superAdmin {
  background: #da0d14 !important;
}

.tree-button {
    color:#666;
}

.tree-button i {
    color:#DA0D14;
}

.td-blank {
    background:#FFFFFF;
    height:18px;
    margin:1px !important;
    width: 72%;
}

#dashboard_menu a:visited {
    color:#FFF !important;
}

#dashboard_menu a:hover {
    color:#FFF !important;
}

.configured {
    background:#da0d14 !important;
    color:#FFFFFF !important;
}

.setRow {
    background: #666666 !important;
}

.divRow {
    border-color: #666666 !important;
}

.half:nth-child(2) {
    border-left: 1px solid #666666;
}

/*TREE*/

li[rel="category"][aria-level^="2"] {
    background-color: #FFF !important;
}

li.jstree-open[rel="category"] {
    background-color: #A2A9AE !important;
}

li.jstree-open[rel="category"] > a {
    color: #FFF !important;
}

li[rel="category"]{
    background-color: #D1D1D1 !important;
}

li[rel="category"]>a {
    height: 100%;    
    line-height: 2;
    padding:0px 0px 0px 2px !important;
    width:100%;
}

li:not(.jstree-open)[rel="category"][aria-level^="2"]>a:hover {
    background: #DA0D14 !important;
    color: #FFF !important;
    padding: 0px 0px 0px 2px !important;
}

li[rel="dataflow"],
li[rel="virtual-dataflow"] {
    background-color: #EEE !important;
}

li[rel="dataflow"]>a {
    height: 100%;    
    line-height: 2;
    padding:0px 0px 0px 2px !important;
    width:100%;
}

li[rel="dataflow"]>a:not(.jstree-clicked):hover {
    background: #DA0D14 !important;
    color: #FFF !important;
    padding: 0px 0px 0px 2px !important;
}

li[rel="dataflow"]>a.jstree-clicked {
    color: #DA0D14 !important;
    padding: 0px 0px 0px 2px !important;
}

/*TREE CUSTOM*/

.jstree li[rel="category-scheme"] > a > .jstree-icon:before,
.jstree li[rel="category"] > a > .jstree-icon:before,
.jstree li[rel="dataflow"] > a > .jstree-icon:before{
  color: #DA0D14;
}

.jstree li:not(.jstree-open)[rel="category"][aria-level^="2"] > a:hover > .jstree-icon:before{
  color: #FFF;
}

.jstree li[rel="dataflow"] > a:not(.jstree-clicked):hover > .jstree-icon:before{
  color: #FFF;
}

li[rel="dataflow"] > a.jstree-clicked > .jstree-icon:before{
  color: #DA0D14;
}

.removeRow i {
    color:#fff;
}

/*TABLE*/
.hvkeys .togglablekeyvalue{
    color: #000 !important;
    background: #E1E1E1 !important;
}

.hvkeys tbody tr:not(.vkeys):not(.hkeys):nth-child(odd) table tbody tr .togglablekeyvalue{
    color: #000 !important;
    background: #FFF !important;
}

.hvkeys tbody tr:not(.vkeys):not(.hkeys):nth-child(even) table tbody tr .togglablekeyvalue{
    color: #000 !important;
    background: #E1E1E1 !important;
}

.hvkeys tr td {
  background: #E1E1E1;
  border-color: #3F3F3F !important;
  border-color: #3F3F3F !important;
}

.hvkeys .dialog-row-value-info-extra {
  background-color: #F4F4F4 !important;
}

tr:not(.hvkeys):nth-child(odd) .dialog-row-value-info-extra table tbody tr td {
  /*background-color: #F4F4F4 !important;*/
  background-color: #FFF !important;
}

tr:not(.hvkeys):nth-child(even) .dialog-row-value-info-extra table tbody tr td {
  /*background-color: #F4F4F4 !important;*/
  background-color: #E1E1E1 !important;
}

.hvkeys .togglablekey {
    color: #000 !important;
    background: #3F3F3F !important;
}

.hvkeys .hkeytitle, .hvkeys .vkeytitle {
    background: #CCC !important;
}

.dialog-row-value-info-extra {
  border-right-color: #3F3F3F !important;
  border-top-color: #3F3F3F !important;
}

.hvkeys {
    border-left: 1px solid #3F3F3F !important;
    border-bottom: 1px solid #3F3F3F !important;
}

.hvkeys tbody .hkeys:first-child .hkeytitle {
  border-top-color: #3F3F3F !important;
}

.hvkeys .notMeasure {
  /*background-color: #FFF !important;
  border-right-color:#3F3F3F  !important;
  border-top-color:#3F3F3F !important;*/
}

tr:not(.hvkeys):nth-child(odd) .notMeasure {
  background-color: #FFF !important;
}

tr:not(.hvkeys):nth-child(even) .notMeasure {
  background-color: #E1E1E1 !important;
}