<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ISTAT.WebClient.Caching.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>

  <connectionStrings>
    <add name="_ISTAT.WebClient.Caching.ConnectionString"
      connectionString="Data Source=avana2012;Initial Catalog=ISTAT.WebClient.DB;Persist Security Info=True;User ID=mauser;Password=mauser"
      providerName="System.Data.SqlClient" />
    <add name="_ISTAT.WebClient.Caching.ConnectionString2"
      connectionString="Data Source=avana2012;Initial Catalog=ISTAT.WebClient.DB;Persist Security Info=True;User ID=mauser;Password=mauser"
      providerName="System.Data.SqlClient" />
    <add name="_ISTAT.WebClient.Caching.ConnectionString3"
      connectionString="Data Source=avana2012;Initial Catalog=ISTAT.WebClient.DB;Persist Security Info=True;User ID=mauser;Password=mauser"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="EnableCacheWidget" value="True"/>
    <add key="EnableCacheWidgetLog" value="True"/>
    <add key="PollingCacheWidget" value="120"/>
    <add key="RefreshCacheWidget" value="600"/>
    <add key="DecimalSeparator" value="."/>
    <add key="ParseSDMXAttributes" value="False"/>
  </appSettings>
  
  <!--<applicationSettings>
    <ISTAT.WebClient.Caching.Properties.Settings>
      <setting name="EnableCacheWidget" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableCacheWidgetLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PollingCacheWidget" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="RefreshCacheWidget" serializeAs="String">
        <value>600</value>
      </setting>
      --><!--<setting name="EnableCaching" serializeAs="String">
        <value>True</value>
      </setting>--><!--
      <setting name="DecimalSeparator" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="ParseSDMXAttributes" serializeAs="String">
        <value>False</value>
      </setting>
    </ISTAT.WebClient.Caching.Properties.Settings>
  </applicationSettings>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
