.tree-button {
    font-weight: bold;
    margin:5px 2px 5px 3px !important;
    padding: 0px 10px 0px 0px !important;
    text-align:left !important;
    text-decoration:none;
    width:156px !important;
}

.tree-button:hover {
    border-bottom:0px !important;
    cursor: pointer;
}

#main-treeview .jstree {
    background:#FFF !important;
    margin: 5px 0px 0px 0px;
    width: 100%;
}

.jstree-0 li > a > .jstree-icon {
    background-position: 0px 0px !important;
}

/*.jstree-0 li[rel="category-scheme"] > a > .jstree-icon {
    background-image: url(/Images/tree-grey/schema.png) !important;
}

.jstree-default .jstree-open li[rel="category"] a > ins {
    background-image: url(/Images/tree-grey/folder-open-full.png) !important;
}

.jstree-default .jstree-closed li[rel="category"] a > ins {
    background-image: url(/Images/tree-grey/folder-close-full.png) !important;
}

.jstree-0 li[rel="dataflow"] > a > .jstree-icon {
    background-image: url(/Images/tree-grey/data-flow-full.png) !important;
}*/

li.jstree-closed[rel="category"] a > ins {
    background-image: url(/Images/tree-grey/folder-close-full.png) !important;
}

li.jstree-closed[rel="dataflow"] a > ins {
    background-image: url(/Images/tree-grey/data-flow-full.png) !important;
}

.jstree-default .jstree-leaf > ins {
    margin:0px 0px 0px -8px;
}

.jstree-default li.jstree-last {
  background: #EDEDED !important;
}

.jstree ul {
    font-size:11px;
}

/* category scheme */
li[rel="category-scheme"] {
    border-bottom:1px dotted !important;
    font-weight:bold;
}

li[rel="category-scheme"]:nth-child(even) {

}

li[rel="category-scheme"]:nth-child(odd) {

}

li[rel="category-scheme"]:last-child {
    border-bottom:0px !important;
}

/* category */
li[rel="category"] {
    border-bottom:1px dotted !important;
    font-weight:bold;
}

li[rel="category"]:nth-child(even) {

}

li[rel="category"]:nth-child(odd) {

}

li[rel="category"]:last-child {
    border-bottom:0px !important;
}

/* data-flow */

li[rel="dataflow"] {
    border-bottom:1px dotted !important;
    font-size:11px !important;
    font-weight:normal !important;
    margin:0px 0px 0px 26px !important;
}

li[rel="dataflow"]:nth-child(even) {
    /*background:#EDEDED;*/
}

li[rel="dataflow"]:nth-child(odd) {
    /*background:#D3D3D3;*/
}

li[rel="dataflow"]:last-child {
    border-bottom:0px !important;
}

li[rel="dataflow"]:nth-child(.jstree-default .jstree-clicked) {
    background:#86B402 !important;
}

.jstree-default .jstree-clicked {
    /*#F2E3E3*/
    background: none !important;
    border: 0px !important;
    padding: 0px 0px 0px 2px !important;
    /*border: 1px solid #F0D4D5 !important;
    padding: 0 2px 0 1px;*/
}

.jstree-default .jstree-hovered {
    background: #F2E3E3 !important;
    border: 0px !important;
    padding: 0px 0px 0px 2px !important;
    /*border: 1px solid #F0D4D5 !important;
    padding: 0 2px 0 1px;*/
}