<EndPointSection>
    <EndPoints>
      <add  Locale=""
            IDNode="IT1"
            Title="avana_WS_BUGS"
            DecimalSeparator="."
            Domain=""
            EnableHTTPAuthentication="false"
            EnableProxy="false"
            EndPoint="http://avana/WS_BUGS/SdmxService"
            EndPointV20="http://avana/WS_BUGS/NSIEstatV20Service"
            EndPointType="V21"
            EndPointSource="RI"
            Password=""
            Prefix=""
            ProxyPassword=""
            ProxyServer=""
            ProxyServerPort="0"
            ProxyUserName=""
            UseSystemProxy="false"
            UserName=""
            Wsdl=""
            Active="true"
            UseUncategorysed="false"
            UseVirtualDf="false"
            Ordinamento="0"/>

      <add  Locale=""
      IDNode="IT1"
      Title="WS_INPS"
      DecimalSeparator=".,"
      Domain=""
      EnableHTTPAuthentication="false"
      EnableProxy="false"
      EndPoint="http://shnodo2/WS_INPS/SdmxService"
      EndPointV20="http://shnodo2/WS_INPS/NSIEstatV20Service.asmx"
      EndPointType="V21"
      EndPointSource="RI"
      Password=""
      Prefix=""
      ProxyPassword=""
      ProxyServer=""
      ProxyServerPort="0"
      ProxyUserName=""
      UseSystemProxy="false"
      UserName=""
      Wsdl=""
      Active="true"
      UseUncategorysed="false"
      UseVirtualDf="false"
      Ordinamento="1"/>

      <add Locale=""
            IDNode="IT1"
            Title="Sistan Hub Virtual"
            DecimalSeparator="."
            Domain=""
            EnableHTTPAuthentication="false"
            EnableProxy="false"
            EndPoint="http://shnodo2/WS_PRINC/NSIEstatV20Service.asmx"
            EndPointV20="http://shnodo2/WS_PRINC/NSIEstatV20Service.asmx"
            EndPointType="V20"
            EndPointSource="RI"
            Password=""
            Prefix=""
            ProxyPassword=""
            ProxyServer=""
            ProxyServerPort="0"
            ProxyUserName=""
            UseSystemProxy="false"
            UserName=""
            Wsdl=""
            Active="false"
            UseUncategorysed="false"
            UseVirtualDf="false"
            Ordinamento="2"/>

      <add Locale=""
          IDNode="IT1"
          Title="Temi generali (ISTAT)"
          DecimalSeparator="."
          Domain=""
          EnableHTTPAuthentication="false"
          EnableProxy="false"
          EndPoint="http://shnodo1/WS_STATES/NsiEstatV20Service.asmx"
          EndPointV20="http://shnodo1/WS_STATES/NsiEstatV20Service.asmx"
          EndPointType="V20"
          EndPointSource="RI"
          Password=""
          Prefix=""
          ProxyPassword=""
          ProxyServer=""
          ProxyServerPort="0"
          ProxyUserName=""
          UseSystemProxy="false"
          UserName=""
          Wsdl=""
          Active="true"
          UseUncategorysed="false"
          UseVirtualDf="false"
          Ordinamento="3"/>

      <add Locale="null"
          IDNode="null"
          Title="INPS"
          DecimalSeparator="."
          Domain=""
          EnableHTTPAuthentication="false"
          EnableProxy="false"
          EndPoint="http://89.97.59.156/SDMXWS/NsiStdV20Service.asmx"
          EndPointV20="http://89.97.59.156/SDMXWS/NsiStdV20Service.asmx"
          EndPointType="V20"
          EndPointSource="RI"
          Password=""
          Prefix=""
          ProxyPassword=""
          ProxyServer=""
          ProxyServerPort="0"
          ProxyUserName=""
          UseSystemProxy="false"
          UserName=""
          Wsdl=""
          Active="true"
          UseUncategorysed="false"
          UseVirtualDf="false"
          Ordinamento="4"/>
      <add Locale="null"
          IDNode="null"
          Title="Ministero Economia e Finanze"
          DecimalSeparator="."
          Domain=""
          EnableHTTPAuthentication="false"
          EnableProxy="false"
          EndPoint="http://shnodes/WS_MEF/NSIStdV20Service.asmx"
          EndPointV20="http://shnodes/WS_MEF/NSIStdV20Service.asmx"
          EndPointType="V20"
          EndPointSource="RI"
          Password=""
          Prefix=""
          ProxyPassword=""
          ProxyServer=""
          ProxyServerPort="0"
          ProxyUserName=""
          UseSystemProxy="false"
          UserName=""
          Wsdl=""
          Active="true"
          UseUncategorysed="false"
          UseVirtualDf="false"
          Ordinamento="5"/>

      <add Locale="null"
      IDNode="null"
      Title="Menu principale"
      DecimalSeparator="."
      Domain=""
      EnableHTTPAuthentication="false"
      EnableProxy="false"
      EndPoint="http://shnodo2/WS_PRINC/NsiEstatV20Service.asmx"
      EndPointV20="http://shnodo2/WS_PRINC/NsiEstatV20Service.asmx"
      EndPointType="V20"
      EndPointSource="RI"
      Password=""
      Prefix=""
      ProxyPassword=""
      ProxyServer=""
      ProxyServerPort="0"
      ProxyUserName=""
      UseSystemProxy="false"
      UserName=""
      Wsdl=""
      Active="true"
      UseUncategorysed="false"
      UseVirtualDf="false"
      Ordinamento="6"/>


      <add Locale="null"
      IDNode="IT2"
      Title="WS_BDI"
      DecimalSeparator="."
      Domain=""
      EnableHTTPAuthentication="false"
      EnableProxy="false"
      EndPoint="http://sdmxb.istat.it/WS_BI/SdmxService"
      EndPointV20="http://sdmxb.istat.it/WS_BI/NSIEstatV20Service.asmx"
      EndPointType="V21"
      EndPointSource="RI"
      Password=""
      Prefix=""
      ProxyPassword=""
      ProxyServer=""
      ProxyServerPort="0"
      ProxyUserName=""
      UseSystemProxy="false"
      UserName=""
      Wsdl=""
      Active="true"
      UseUncategorysed="false"
      UseVirtualDf="false"
      Ordinamento="17"/>

    </EndPoints>
  </EndPointSection>