footer, header
{
    background:#F07318 !important;
}

menu
{
    background:#5F8B14 !important;
}

/*IE 8*/
#footer, #header
{
    background:#F07318 !important;
}

#menu
{
    background:#5F8B14 !important;
}