header, #header
{
    background:#FFF !important;
    color:#00295A;
}

footer,  #footer
{
    background:#F8A81E !important;
    border-top:1px solid #F39700;
    color:#00295A;
}

footer a:link, a:visited, a:hover
{
    color:#00295A !important;
}

#footer a:link, a:visited, a:hover
{
    color:#00295A !important;
}

footer u li,  #footer u li
{
    border-color:#00295A;
}

.show-theme:hover {
    background: #00295A !important;
}

menu, #menu
{
    background:#00295A !important;
    color:#fff;
}

h1
{
    background:#FFF !important;
    border-bottom:2px solid #00295A;
    color:#00295A !important;
}

h2
{
    background:#FFF !important;
    color:#00295A !important;
    /*font-size:14px;*/
}

h3
{
    background: #FFF;
    color: #00295A;
}

li[rel="category"]>a:hover
{
    color:#FFF !important;
}

li[rel="category"]>a:link
{
    color:#666 !important;
}

li[rel="dataflow"]
{
    background: #D1D1D1 !important;
    color:#666;
}

/*TOGGLER*/

#split-toggler
{
    border-left: 2px solid #F39700;
}

#panel_info_extra_toggler
{
    border-right: 2px solid #F39700;
}

#panel_info_extra_toggler .close-right
{
    background: #F39700;
    border: 1px solid;
    border-color: #F39700;
}

.close-left
{
    background: #F39700;
    border-color:#F39700;
}

.open-left
{
    background: #F39700;
    border-color:#F39700;
}

.ui-widget-header
{
    background: #00295A;
}

.div-container .div-heading
{
    background: #00295A;
}

.color-option.selected, .color-option:hover {
    background: #FFF1D8  !important;
}

input[type=radio]:checked:before {
    color: #00295A !important;
}

.tb_data .tr_data .th_fixed
{
    background: #666 !important;
}

.tb_data .tr_data .th_code
{
    background: #A2A9AE!important;
}

.tb_data .tr_data:nth-child(even)
{
  background: #D1D1D1 !important;
}

.tb_data, .tb_data tbody, .tb_data tr, .tb_data td, .tb_data th
{
    border-color: #A2A9AE;
}

.tb_layout p
{
    background: #ABBBDF;
    color: #272A30;
}

.tb_layout td
{
    background:#D1D1D1;
    border: 1px solid #ABBBDF;
}

.ul_layout_fxd .li_layout
{
    background: #FFF;
    border:1px solid #666;
    color: #666;
}

.ul_layout_cnt .li_layout
{
    background: #666;
    color: #FFF;
}

.data-option {
    background: #F7F7F7;
    color: #00295A;
    border: 1px solid #dddddd;
}

.data-option:hover{
    background: #00295A;
    color: #FFF !important;
}

select.data-option {
    background: #F7F7F7;
    border: 1px solid #dddddd !important;
    color: #00295A;
}

select.data-option:hover{
    background: #F7F7F7;
    border: 1px solid #dddddd !important;
    color: #00295A !important;
}

.data-option-sel {
    background: #FFFFFF;
    color: #666;
    border-bottom-color:#666 !important;
}

.saveBox
{
    border-color:#272A30;
}

/*QUERIES*/
DIV.queryContainer DIV.query:nth-child(odd) {
    background: #e6e6e6;
}
DIV.queryContainer DIV.query:nth-child(even) {
    background: #ccc;
}
/*WEBSERVICES*/
DIV.ContWS:nth-child(odd) {
    background: #e6e6e6;
}
DIV.ContWS:nth-child(even) {
    background: #ccc;
}
/*PROFILES*/
DIV.queryContainer DIV.user:nth-child(odd) {
    background: #e6e6e6;
}
DIV.queryContainer DIV.user:nth-child(even) {
    background: #ccc;
}
/*SUPERADMIN*/
.superAdmin {
  background: #00295A !important;
}

.tree-button {
    color:#666;
}


li[rel="virtual-dataflow"]>a>i {
    color:#00295A;
}

.jstree-extrainfo {
    color:#00295A;
}

.tree-button i {
    color:#00295A ;
}

.td-blank {
    background:#FFFFFF;
    height:18px;
    margin:1px !important;
    width: 72%;
}

#dashboard_menu i {
    color:#F39700 !important;
}

#dashboard_menu a:visited {
    color:#FFF !important;
}

#dashboard_menu a:hover {
    color:#FFF !important;
}

.configured {
    background:#F39700 !important;
    color:#00295A !important;
}

.setRow {
    background: #00295A !important;
}

.divRow {
    border-color: #00295A !important;
}

.half:nth-child(2) {
    border-left: 1px solid #00295A;
}

/*TREE*/

li[rel="category"][aria-level^="2"] {
    background-color: #FFF !important;
}

li.jstree-open[rel="category"] {
    background-color: #A3A2A2 !important;
}

li.jstree-open[rel="category"] > a {
    color: #FFF !important;
}

li[rel="category"]{
    background-color: #e6e6e6 !important;
}

li[rel="category"]>a {
    height: 100%;    
    line-height: 2;
    padding:0px 0px 0px 2px !important;
    width:100%;
}

li:not(.jstree-open)[rel="category"][aria-level^="2"]>a:hover {
    background: #00295A !important;
    color: #FFF !important;
    padding: 0px 0px 0px 2px !important;
}

li[rel="dataflow"],
li[rel="virtual-dataflow"] {
    background-color: #FAFAFA !important;
}

li[rel="dataflow"]>a {
    height: 100%;    
    line-height: 2;
    padding:0px 0px 0px 2px !important;
    width:100%;
}

li[rel="dataflow"]>a:not(.jstree-clicked):hover {
    background: #00295A !important;
    color: #FFF !important;
    padding: 0px 0px 0px 2px !important;
}

li[rel="dataflow"]>a.jstree-clicked {
    color: #00295A !important;
    padding: 0px 0px 0px 2px !important;
}

/*TREE CUSTOM*/

li.jstree-closed > i.jstree-icon:before {color:#DA0D14 ;content: '\e899';}
li.jstree-open > i.jstree-icon:before {color:#DA0D14 ;content: '\e89d';}

.jstree li[rel="category-scheme"] > a > .jstree-icon:before,
.jstree li[rel="category"] > a > .jstree-icon:before,
.jstree li[rel="dataflow"] > a > .jstree-icon:before{
  color: #00295A ;
}

.jstree li:not(.jstree-open)[rel="category"][aria-level^="2"] > a:hover > .jstree-icon:before{
  color: #FFF;
}

.jstree li[rel="dataflow"] > a:not(.jstree-clicked):hover > .jstree-icon:before{
  color: #FFF;
}

li[rel="dataflow"] > a.jstree-clicked > .jstree-icon:before{
  color: #00295A;
}

.removeRow i {
    color:#fff;
}

li.jstree-closed > i.jstree-icon:before, li.jstree-open > i.jstree-icon:before {color:#00295A !important;}

/*TABLE*/
.table_slice {
  background-color: #00295A !important;
}

.hvkeys span.dialog-btn-info-extra:before {
  color: #F06F00 !important;
}

.hvkeys .togglablekeyvalue{
    color: #000 !important;
    background: #E1E1E1 !important;
}

.hvkeys tbody tr:not(.vkeys):not(.hkeys):nth-child(odd) table tbody tr .togglablekeyvalue{
    color: #000 !important;
    background: #FFF !important;
}

.hvkeys tbody tr:not(.vkeys):not(.hkeys):nth-child(even) table tbody tr .togglablekeyvalue{
    color: #000 !important;
    background: #E1E1E1 !important;
}

.hvkeys tr td {
  background: #E1E1E1;
  border-color: #3F3F3F !important;
  border-color: #3F3F3F !important;
}

.hvkeys .dialog-row-value-info-extra {
  background-color: #F4F4F4 !important;
}

tr:not(.hvkeys):nth-child(odd) .dialog-row-value-info-extra table tbody tr td {
  /*background-color: #F4F4F4 !important;*/
  background-color: #FFF !important;
}

tr:not(.hvkeys):nth-child(even) .dialog-row-value-info-extra table tbody tr td {
  /*background-color: #F4F4F4 !important;*/
  background-color: #E1E1E1 !important;
}

.hvkeys .togglablekey {
    color: #000 !important;
    background: #3F3F3F !important;
}

.hvkeys .hkeytitle, .hvkeys .vkeytitle {
    background: #CCC !important;
}

.dialog-row-value-info-extra {
  border-right-color: #3F3F3F !important;
  border-top-color: #3F3F3F !important;
}

.hvkeys {
    border-left: 1px solid #3F3F3F !important;
    border-bottom: 1px solid #3F3F3F !important;
}

.hvkeys tbody .hkeys:first-child .hkeytitle {
  border-top-color: #3F3F3F !important;
}

.hvkeys .notMeasure {
  /*background-color: #FFF !important;
  border-right-color:#3F3F3F  !important;
  border-top-color:#3F3F3F !important;*/
}

tr:not(.hvkeys):nth-child(odd) .notMeasure {
  background-color: #FFF !important;
}

tr:not(.hvkeys):nth-child(even) .notMeasure {
  background-color: #E1E1E1 !important;
}

.jstree-anchor > i.jstree-icon.jstree-checkbox:hover:before { color: #F39700 !important; }
.jstree-anchor.jstree-checked > i.jstree-icon.jstree-checkbox:hover:before { color:#F39700 !important;}