b {
    color:#DA0D14 !important;
}

DIV.containerWS DIV.ContWS:first-of-type, :not(.ContWS) + .ContWS {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

DIV.containerWS DIV.ContWS:nth-last-child(2) {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

DIV.containerWS DIV.ContWS:nth-child(7) {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

DIV.containerWS DIV.ContWS:nth-child(7) {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

/*DIV.containerWS DIV.ContWS:last-child {
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}*/

DIV.optionContainer {
   width: 100%;
}
DIV.subContainer {
    float: none;
    width: 98%;
    margin: 0 auto;
}
DIV.check {
   width: 80%;
   margin: auto;
   margin-bottom: 15px;
}
DIV.inputB {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-top:20px;
}

.mainButtons {
    margin:20px 0px 0px 0px;
}

.saveWBS {
  border-top: 1px solid #4C4C4C;
  padding: 0px 0px 0px 0px;
}

.saveWBS div{
  margin:0 auto;
  width:61%;
}

DIV.addWS {
    margin-top: 20px;
}

input.RemoveWS {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
    padding: 0px;
    text-transform: lowercase;
}

DIV.div_inputPop {
    width:100%;
    margin-bottom:5px;
}

DIV.lab_inputPop {
    float:left;
    width:40%;
    margin: 0px 0px 15px 0px;
}
DIV.divInp {
    float:left;
    width:60%;
}

input[type="text"].inputPop {
    width:100%;
}

DIV.listOPT {
    float:left;
    width:35%;
}

DIV.listWS {
    float:left;
    width:65%;
}

DIV.containerWS {
    float:left;
    width:100%;
}

DIV.ContWS {
    display: block;
    height:30px;
    width:100%;
}

DIV.divInput {
    float:left;
    padding: 8px 0px 0px 10px;
    width:10%;
}

DIV.divLabel {
    float: left;
    width: 66%;
    overflow: hidden;
    padding: 8px 0px 0px 10px;
    white-space: nowrap;
    margin-right: 12px;
}

DIV.divButton {
    float: left;
    width: 15%;
    border-left: 2px solid #FFF;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    text-align: right;
    line-height: 30px;
}

DIV.ContWS:nth-child(even) {
  background: #ccc;
}
DIV.ContWS:nth-child(odd) {
  background: #EAEAEA;
}

li.ContWS:nth-child(even) {
  background: #ccc;
}
li.ContWS:nth-child(odd) {
  background: #EAEAEA;
}


.RemoveWS:hover {
  border-bottom: 2px solid;
}